In [2]:
print('Hello World')

Hello World

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [4]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-4-a314491c53bb>, line 2)

In [5]:
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!

In [6]:
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!

In [7]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-7-a4dba24e2a47>, line 3)

In [8]:
if 5 > 2:
 print("Five is greater than two!")
 print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [9]:
x = 5
y = "Hello, World!"

In [10]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [11]:
print("Hello, World!") #This is a comment

Hello, World!

In [12]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [13]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [14]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [15]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [17]:
x = 4 # x is of type int
x = "Avijit" # x is now of type str
print(x)

Avijit

In [18]:
x = "Kimia"
# is the same as
x = 'Kimia'

In [20]:
#Illegal variable names:
2myvar = "John"

SyntaxError: invalid syntax (<ipython-input-20-b49846620366>, line 2)

In [21]:
my-var = "John"

SyntaxError: can't assign to operator (<ipython-input-21-23740dfebf8a>, line 1)

In [22]:
my var = "John"

SyntaxError: invalid syntax (<ipython-input-22-ffb5c73e7820>, line 1)

In [23]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [24]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [25]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [26]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [27]:
x = 5
y = 10
print(x + y)

15

In [28]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [8]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [9]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [10]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [11]:
carname ='Volvo'
print(carname)

Volvo

In [13]:
x = 5
print(type(x))

<class 'int'>

In [14]:
x = "Hello World"
print(type(x))

<class 'str'>

In [16]:
x = 20
print(type(x))

<class 'int'>

In [17]:
x = 20.5

print(type(x))

<class 'float'>

In [18]:
x = 1j

print(type(x))

<class 'complex'>

In [19]:
x = ["apple", "banana", "cherry"]

print(type(x))

<class 'list'>

In [20]:
x = ("apple", "banana", "cherry")

print(type(x))

<class 'tuple'>

In [21]:
x = range(6)

print(type(x))

<class 'range'>

In [22]:
x = {"name" : "John", "age" : 36}

print(type(x))

<class 'dict'>

In [23]:
x = {"apple", "banana", "cherry"}

print(type(x))

<class 'set'>

In [24]:
x = frozenset({"apple", "banana", "cherry"})

print(type(x))

<class 'frozenset'>

In [25]:
x = True

print(type(x))

<class 'bool'>

In [26]:
x = b"Hello"

print(type(x))

<class 'bytes'>

In [27]:
x = bytearray(5)

print(type(x))

<class 'bytearray'>

In [28]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [29]:
x = 5.5
print(type(x))

<class 'float'>

In [30]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [31]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [33]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [34]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [36]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [37]:
import random

print(random.randrange(1, 10))

3

In [38]:
x=5
x=float(x)

In [39]:
print(x)

5.0

In [40]:
print(type(x))

<class 'float'>

In [41]:
x = int(1)
y = int(2.8)
z = int("3")

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>

In [42]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

print(x)
print(y)
print(z)
print(w)

print(type(x))
print(type(y))
print(type(z))
print(type(w))

1.0
2.8
3.0
4.2
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [43]:
x = str("s1")
y = str(2)
z = str(3.0)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

s1
2
3.0
<class 'str'>
<class 'str'>
<class 'str'>

In [44]:
print("Hello")
print('Hello')

Hello
Hello

In [45]:
a = "Hello"
print(a)

Hello

In [46]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [47]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [48]:
a = "Hello, World!"
print(a[1])

e

In [49]:
b = "Hello, World!"
print(b[2:5])

llo

In [50]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [51]:
a = "Hello, World!"
print(len(a))

13

In [52]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [53]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [54]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [55]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [56]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [57]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [58]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [59]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [60]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [61]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [62]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [63]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [64]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [65]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-65-56cdf4283a8e>, line 1)

In [66]:
txt = "We are the so-called \"Vikings\" from the north."

In [67]:
print(txt)

We are the so-called "Vikings" from the north.

In [68]:
x = "Hello World"
print(len(x))

11

In [69]:
x = 5
y = 3

print(x + y)

8

In [70]:
x = 5
y = 3

print(x - y)

2

In [71]:
x = 5
y = 3

print(x * y)

15

In [73]:
x = 12
y = 3

print(x / y)

4.0

In [74]:
x = 5
y = 3

print(x % y)

2

In [75]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [77]:
x = 15
y = 2

print(x // y)
#the floor division // rounds the result down to the nearest whole number

7

In [78]:
x = 5
print(x)

5

In [79]:
x = 5
x += 3
print(x)

8

In [80]:
x = 5
x -= 3
print(x)

2

In [81]:
x = 5
x *= 3
print(x)

15

In [82]:
x = 5
x /= 3
print(x)

1.6666666666666667

In [83]:
x = 5
x%=3
print(x)

2

In [84]:
x = 5
x//=3
print(x)

1

In [85]:
x = 5
x **= 3
print(x)

125

In [86]:
x = 5
x &= 3
print(x)

1

In [87]:
x = 5
x |= 3
print(x)

7

In [88]:
x = 5
x ^= 3
print(x)

6

In [89]:
x = 5
x >>= 3
print(x)

0

In [90]:
x = 5
x <<= 3
print(x)

40

In [91]:
x = 5
y = 3
print(x == y)

# returns False because 5 is not equal to 3

False

In [92]:
x = 5
y = 3
print(x != y)

# returns True because 5 is not equal to 3

True

In [93]:
x = 5
y = 3
print(x > y)

# returns True because 5 is greater than 3

True

In [94]:
x = 5
y = 3
print(x < y)

# returns False because 5 is not less than 3

False

In [95]:
x = 5
y = 3
print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [96]:
x = 5
y = 3
print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

In [97]:
x = 5
print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [98]:
x = 5
print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [99]:
x = 5
print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

In [100]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference between "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [101]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [102]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [103]:
x = ["apple", "banana"]
print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

In [104]:
print(10*5)

50

In [105]:
x=10
y=5
z=x*y
print(z)

50

In [106]:
print(x*y)

50

In [107]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [108]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [109]:
print(bool("Hello"))
print(bool(15))

True
True

In [110]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [112]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [114]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [115]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [116]:
def myFunction() :
  return True

print(myFunction())

True

In [117]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [119]:
x = 200
print(isinstance(x, int))

True

In [120]:
print(10 > 9)

True

In [121]:
f = open("demofile.txt")

In [122]:
f = open("demofile.txt", "rt")

In [123]:
f = open("demofile.txt", "r")
print(f.read())

Hello! Welcome to demofile.txtThis file is for testing purposes.Good Luck!

In [124]:
f = open("C:/Users/aviji/Documents/ISM4930/iris.csv", "r")
print(f.read())

ï»¿ID,sepal_length,sepal_width,petal_length,petal_width,species
1,5.1,3.5,1.4,0.2,setosa
2,4.9,3,1.4,0.2,setosa
3,4.7,3.2,1.3,0.2,setosa
4,4.6,3.1,1.5,0.2,setosa
5,5,3.6,1.4,0.2,setosa
6,5.4,3.9,1.7,0.4,setosa
7,4.6,3.4,1.4,0.3,setosa
8,5,3.4,1.5,0.2,setosa
9,4.4,2.9,1.4,0.2,setosa
10,4.9,3.1,1.5,0.1,setosa
11,5.4,3.7,1.5,0.2,setosa
12,4.8,3.4,1.6,0.2,setosa
13,4.8,3,1.4,0.1,setosa
14,4.3,3,1.1,0.1,setosa
15,5.8,4,1.2,0.2,setosa
16,5.7,4.4,1.5,0.4,setosa
17,5.4,3.9,1.3,0.4,setosa
18,5.1,3.5,1.4,0.3,setosa
19,5.7,3.8,1.7,0.3,setosa
20,5.1,3.8,1.5,0.3,setosa
21,5.4,3.4,1.7,0.2,setosa
22,5.1,3.7,1.5,0.4,setosa
23,4.6,3.6,1,0.2,setosa
24,5.1,3.3,1.7,0.5,setosa
25,4.8,3.4,1.9,0.2,setosa
26,5,3,1.6,0.2,setosa
27,5,3.4,1.6,0.4,setosa
28,5.2,3.5,1.5,0.2,setosa
29,5.2,3.4,1.4,0.2,setosa
30,4.7,3.2,1.6,0.2,setosa
31,4.8,3.1,1.6,0.2,setosa
32,5.4,3.4,1.5,0.4,setosa
33,5.2,4.1,1.5,0.1,setosa
34,5.5,4.2,1.4,0.2,setosa
35,4.9,3.1,1.5,0.1,setosa
36,5,3.2,1.2,0.2,setosa
37,5.5,3.5,1.3,0.2,setosa
38,4.9,3.1,1.5,0.1,setosa
39,4.4,3,1.3,0.2,setosa
40,5.1,3.4,1.5,0.2,setosa
41,5,3.5,1.3,0.3,setosa
42,4.5,2.3,1.3,0.3,setosa
43,4.4,3.2,1.3,0.2,setosa
44,5,3.5,1.6,0.6,setosa
45,5.1,3.8,1.9,0.4,setosa
46,4.8,3,1.4,0.3,setosa
47,5.1,3.8,1.6,0.2,setosa
48,4.6,3.2,1.4,0.2,setosa
49,5.3,3.7,1.5,0.2,setosa
50,5,3.3,1.4,0.2,setosa
51,7,3.2,4.7,1.4,versicolor
52,6.4,3.2,4.5,1.5,versicolor
53,6.9,3.1,4.9,1.5,versicolor
54,5.5,2.3,4,1.3,versicolor
55,6.5,2.8,4.6,1.5,versicolor
56,5.7,2.8,4.5,1.3,versicolor
57,6.3,3.3,4.7,1.6,versicolor
58,4.9,2.4,3.3,1,versicolor
59,6.6,2.9,4.6,1.3,versicolor
60,5.2,2.7,3.9,1.4,versicolor
61,5,2,3.5,1,versicolor
62,5.9,3,4.2,1.5,versicolor
63,6,2.2,4,1,versicolor
64,6.1,2.9,4.7,1.4,versicolor
65,5.6,2.9,3.6,1.3,versicolor
66,6.7,3.1,4.4,1.4,versicolor
67,5.6,3,4.5,1.5,versicolor
68,5.8,2.7,4.1,1,versicolor
69,6.2,2.2,4.5,1.5,versicolor
70,5.6,2.5,3.9,1.1,versicolor
71,5.9,3.2,4.8,1.8,versicolor
72,6.1,2.8,4,1.3,versicolor
73,6.3,2.5,4.9,1.5,versicolor
74,6.1,2.8,4.7,1.2,versicolor
75,6.4,2.9,4.3,1.3,versicolor
76,6.6,3,4.4,1.4,versicolor
77,6.8,2.8,4.8,1.4,versicolor
78,6.7,3,5,1.7,versicolor
79,6,2.9,4.5,1.5,versicolor
80,5.7,2.6,3.5,1,versicolor
81,5.5,2.4,3.8,1.1,versicolor
82,5.5,2.4,3.7,1,versicolor
83,5.8,2.7,3.9,1.2,versicolor
84,6,2.7,5.1,1.6,versicolor
85,5.4,3,4.5,1.5,versicolor
86,6,3.4,4.5,1.6,versicolor
87,6.7,3.1,4.7,1.5,versicolor
88,6.3,2.3,4.4,1.3,versicolor
89,5.6,3,4.1,1.3,versicolor
90,5.5,2.5,4,1.3,versicolor
91,5.5,2.6,4.4,1.2,versicolor
92,6.1,3,4.6,1.4,versicolor
93,5.8,2.6,4,1.2,versicolor
94,5,2.3,3.3,1,versicolor
95,5.6,2.7,4.2,1.3,versicolor
96,5.7,3,4.2,1.2,versicolor
97,5.7,2.9,4.2,1.3,versicolor
98,6.2,2.9,4.3,1.3,versicolor
99,5.1,2.5,3,1.1,versicolor
100,5.7,2.8,4.1,1.3,versicolor
101,6.3,3.3,6,2.5,virginica
102,5.8,2.7,5.1,1.9,virginica
103,7.1,3,5.9,2.1,virginica
104,6.3,2.9,5.6,1.8,virginica
105,6.5,3,5.8,2.2,virginica
106,7.6,3,6.6,2.1,virginica
107,4.9,2.5,4.5,1.7,virginica
108,7.3,2.9,6.3,1.8,virginica
109,6.7,2.5,5.8,1.8,virginica
110,7.2,3.6,6.1,2.5,virginica
111,6.5,3.2,5.1,2,virginica
112,6.4,2.7,5.3,1.9,virginica
113,6.8,3,5.5,2.1,virginica
114,5.7,2.5,5,2,virginica
115,5.8,2.8,5.1,2.4,virginica
116,6.4,3.2,5.3,2.3,virginica
117,6.5,3,5.5,1.8,virginica
118,7.7,3.8,6.7,2.2,virginica
119,7.7,2.6,6.9,2.3,virginica
120,6,2.2,5,1.5,virginica
121,6.9,3.2,5.7,2.3,virginica
122,5.6,2.8,4.9,2,virginica
123,7.7,2.8,6.7,2,virginica
124,6.3,2.7,4.9,1.8,virginica
125,6.7,3.3,5.7,2.1,virginica
126,7.2,3.2,6,1.8,virginica
127,6.2,2.8,4.8,1.8,virginica
128,6.1,3,4.9,1.8,virginica
129,6.4,2.8,5.6,2.1,virginica
130,7.2,3,5.8,1.6,virginica
131,7.4,2.8,6.1,1.9,virginica
132,7.9,3.8,6.4,2,virginica
133,6.4,2.8,5.6,2.2,virginica
134,6.3,2.8,5.1,1.5,virginica
135,6.1,2.6,5.6,1.4,virginica
136,7.7,3,6.1,2.3,virginica
137,6.3,3.4,5.6,2.4,virginica
138,6.4,3.1,5.5,1.8,virginica
139,6,3,4.8,1.8,virginica
140,6.9,3.1,5.4,2.1,virginica
141,6.7,3.1,5.6,2.4,virginica
142,6.9,3.1,5.1,2.3,virginica
143,5.8,2.7,5.1,1.9,virginica
144,6.8,3.2,5.9,2.3,virginica
145,6.7,3.3,5.7,2.5,virginica
146,6.7,3,5.2,2.3,virginica
147,6.3,2.5,5,1.9,virginica
148,6.5,3,5.2,2,virginica
149,6.2,3.4,5.4,2.3,virginica
150,5.9,3,5.1,1.8,virginica

In [125]:
f = open("demofile.txt", "r")

print(f.read(5))

Hello

In [127]:
f = open("C:/Users/aviji/Documents/ISM4930/iris.csv", "r")

print(f.readline())

ï»¿ID,sepal_length,sepal_width,petal_length,petal_width,species

In [128]:
f = open("C:/Users/aviji/Documents/ISM4930/iris.csv", "r")
print(f.readline())
print(f.readline())

ï»¿ID,sepal_length,sepal_width,petal_length,petal_width,species

1,5.1,3.5,1.4,0.2,setosa

In [132]:
f = open("iris.csv ", "r")
for x in f:
  print(x)

ï»¿ID,sepal_length,sepal_width,petal_length,petal_width,species

1,5.1,3.5,1.4,0.2,setosa

2,4.9,3,1.4,0.2,setosa

3,4.7,3.2,1.3,0.2,setosa

4,4.6,3.1,1.5,0.2,setosa

5,5,3.6,1.4,0.2,setosa

6,5.4,3.9,1.7,0.4,setosa

7,4.6,3.4,1.4,0.3,setosa

8,5,3.4,1.5,0.2,setosa

9,4.4,2.9,1.4,0.2,setosa

10,4.9,3.1,1.5,0.1,setosa

11,5.4,3.7,1.5,0.2,setosa

12,4.8,3.4,1.6,0.2,setosa

13,4.8,3,1.4,0.1,setosa

14,4.3,3,1.1,0.1,setosa

15,5.8,4,1.2,0.2,setosa

16,5.7,4.4,1.5,0.4,setosa

17,5.4,3.9,1.3,0.4,setosa

18,5.1,3.5,1.4,0.3,setosa

19,5.7,3.8,1.7,0.3,setosa

20,5.1,3.8,1.5,0.3,setosa

21,5.4,3.4,1.7,0.2,setosa

22,5.1,3.7,1.5,0.4,setosa

23,4.6,3.6,1,0.2,setosa

24,5.1,3.3,1.7,0.5,setosa

25,4.8,3.4,1.9,0.2,setosa

26,5,3,1.6,0.2,setosa

27,5,3.4,1.6,0.4,setosa

28,5.2,3.5,1.5,0.2,setosa

29,5.2,3.4,1.4,0.2,setosa

30,4.7,3.2,1.6,0.2,setosa

31,4.8,3.1,1.6,0.2,setosa

32,5.4,3.4,1.5,0.4,setosa

33,5.2,4.1,1.5,0.1,setosa

34,5.5,4.2,1.4,0.2,setosa

35,4.9,3.1,1.5,0.1,setosa

36,5,3.2,1.2,0.2,setosa

37,5.5,3.5,1.3,0.2,setosa

38,4.9,3.1,1.5,0.1,setosa

39,4.4,3,1.3,0.2,setosa

40,5.1,3.4,1.5,0.2,setosa

41,5,3.5,1.3,0.3,setosa

42,4.5,2.3,1.3,0.3,setosa

43,4.4,3.2,1.3,0.2,setosa

44,5,3.5,1.6,0.6,setosa

45,5.1,3.8,1.9,0.4,setosa

46,4.8,3,1.4,0.3,setosa

47,5.1,3.8,1.6,0.2,setosa

48,4.6,3.2,1.4,0.2,setosa

49,5.3,3.7,1.5,0.2,setosa

50,5,3.3,1.4,0.2,setosa

51,7,3.2,4.7,1.4,versicolor

52,6.4,3.2,4.5,1.5,versicolor

53,6.9,3.1,4.9,1.5,versicolor

54,5.5,2.3,4,1.3,versicolor

55,6.5,2.8,4.6,1.5,versicolor

56,5.7,2.8,4.5,1.3,versicolor

57,6.3,3.3,4.7,1.6,versicolor

58,4.9,2.4,3.3,1,versicolor

59,6.6,2.9,4.6,1.3,versicolor

60,5.2,2.7,3.9,1.4,versicolor

61,5,2,3.5,1,versicolor

62,5.9,3,4.2,1.5,versicolor

63,6,2.2,4,1,versicolor

64,6.1,2.9,4.7,1.4,versicolor

65,5.6,2.9,3.6,1.3,versicolor

66,6.7,3.1,4.4,1.4,versicolor

67,5.6,3,4.5,1.5,versicolor

68,5.8,2.7,4.1,1,versicolor

69,6.2,2.2,4.5,1.5,versicolor

70,5.6,2.5,3.9,1.1,versicolor

71,5.9,3.2,4.8,1.8,versicolor

72,6.1,2.8,4,1.3,versicolor

73,6.3,2.5,4.9,1.5,versicolor

74,6.1,2.8,4.7,1.2,versicolor

75,6.4,2.9,4.3,1.3,versicolor

76,6.6,3,4.4,1.4,versicolor

77,6.8,2.8,4.8,1.4,versicolor

78,6.7,3,5,1.7,versicolor

79,6,2.9,4.5,1.5,versicolor

80,5.7,2.6,3.5,1,versicolor

81,5.5,2.4,3.8,1.1,versicolor

82,5.5,2.4,3.7,1,versicolor

83,5.8,2.7,3.9,1.2,versicolor

84,6,2.7,5.1,1.6,versicolor

85,5.4,3,4.5,1.5,versicolor

86,6,3.4,4.5,1.6,versicolor

87,6.7,3.1,4.7,1.5,versicolor

88,6.3,2.3,4.4,1.3,versicolor

89,5.6,3,4.1,1.3,versicolor

90,5.5,2.5,4,1.3,versicolor

91,5.5,2.6,4.4,1.2,versicolor

92,6.1,3,4.6,1.4,versicolor

93,5.8,2.6,4,1.2,versicolor

94,5,2.3,3.3,1,versicolor

95,5.6,2.7,4.2,1.3,versicolor

96,5.7,3,4.2,1.2,versicolor

97,5.7,2.9,4.2,1.3,versicolor

98,6.2,2.9,4.3,1.3,versicolor

99,5.1,2.5,3,1.1,versicolor

100,5.7,2.8,4.1,1.3,versicolor

101,6.3,3.3,6,2.5,virginica

102,5.8,2.7,5.1,1.9,virginica

103,7.1,3,5.9,2.1,virginica

104,6.3,2.9,5.6,1.8,virginica

105,6.5,3,5.8,2.2,virginica

106,7.6,3,6.6,2.1,virginica

107,4.9,2.5,4.5,1.7,virginica

108,7.3,2.9,6.3,1.8,virginica

109,6.7,2.5,5.8,1.8,virginica

110,7.2,3.6,6.1,2.5,virginica

111,6.5,3.2,5.1,2,virginica

112,6.4,2.7,5.3,1.9,virginica

113,6.8,3,5.5,2.1,virginica

114,5.7,2.5,5,2,virginica

115,5.8,2.8,5.1,2.4,virginica

116,6.4,3.2,5.3,2.3,virginica

117,6.5,3,5.5,1.8,virginica

118,7.7,3.8,6.7,2.2,virginica

119,7.7,2.6,6.9,2.3,virginica

120,6,2.2,5,1.5,virginica

121,6.9,3.2,5.7,2.3,virginica

122,5.6,2.8,4.9,2,virginica

123,7.7,2.8,6.7,2,virginica

124,6.3,2.7,4.9,1.8,virginica

125,6.7,3.3,5.7,2.1,virginica

126,7.2,3.2,6,1.8,virginica

127,6.2,2.8,4.8,1.8,virginica

128,6.1,3,4.9,1.8,virginica

129,6.4,2.8,5.6,2.1,virginica

130,7.2,3,5.8,1.6,virginica

131,7.4,2.8,6.1,1.9,virginica

132,7.9,3.8,6.4,2,virginica

133,6.4,2.8,5.6,2.2,virginica

134,6.3,2.8,5.1,1.5,virginica

135,6.1,2.6,5.6,1.4,virginica

136,7.7,3,6.1,2.3,virginica

137,6.3,3.4,5.6,2.4,virginica

138,6.4,3.1,5.5,1.8,virginica

139,6,3,4.8,1.8,virginica

140,6.9,3.1,5.4,2.1,virginica

141,6.7,3.1,5.6,2.4,virginica

142,6.9,3.1,5.1,2.3,virginica

143,5.8,2.7,5.1,1.9,virginica

144,6.8,3.2,5.9,2.3,virginica

145,6.7,3.3,5.7,2.5,virginica

146,6.7,3,5.2,2.3,virginica

147,6.3,2.5,5,1.9,virginica

148,6.5,3,5.2,2,virginica

149,6.2,3.4,5.4,2.3,virginica

150,5.9,3,5.1,1.8,virginica

In [130]:
f = open("demofile.txt", "r")
for x in f:
  print(x)

Hello! Welcome to demofile.txtThis file is for testing purposes.Good Luck!

In [133]:
f = open("demofile.txt", "r")

print(f.readline())

f.close()

Hello! Welcome to demofile.txtThis file is for testing purposes.Good Luck!

In [136]:
f = open("demofile.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile.txt", "r")
print(f.read())

Hello! Welcome to demofile.txtThis file is for testing purposes.Good Luck!
Now the file has more content!

In [137]:
f = open("demofile.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the appending:
f = open("demofile.txt", "r")
print(f.read())

Woops! I have deleted the content!

In [138]:
f = open("myfile.txt", "x")

In [139]:
f = open("myfile.txt", "w")

In [140]:
import numpy

In [141]:
import numpy

arr = numpy.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [142]:
import numpy as np

In [143]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [144]:
import numpy as np

print(np.__version__)

1.19.1